## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from configg import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [ ]:
#pip install gmaps

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/ttuser/Downloads/Module6/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Port Elizabeth,ZA,-33.9180,25.5701,58.10,94,75,19.57,shower rain
1,Teseney,ER,15.1100,36.6575,94.82,34,97,6.22,overcast clouds
2,Saint-Joseph,RE,-21.3667,55.6167,75.58,77,37,10.85,scattered clouds
3,Ushuaia,AR,-54.8000,-68.3000,33.46,86,0,0.00,clear sky
4,Ribeira Grande,PT,38.5167,-28.7000,75.60,94,75,10.36,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the min  temperature  for your trip? "))
max_temp = float(input("What is the max  temperature  for your trip? "))

What is the min  temperature  for your trip? 75
What is the max  temperature  for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_new_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_new_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Saint-Joseph,RE,-21.3667,55.6167,75.58,77,37,10.85,scattered clouds
4,Ribeira Grande,PT,38.5167,-28.7000,75.60,94,75,10.36,broken clouds
5,Mount Isa,AU,-20.7333,139.5000,78.57,36,40,0.00,light rain
14,Boueni,YT,-12.9025,45.0761,82.38,72,17,4.52,few clouds
15,Butaritari,KI,3.0707,172.7902,81.36,77,16,12.97,light rain

In [5]:
# 4a. Determine if there are any empty rows.
print(len(cities_new_df))
cities_new_df.count()

236

City                   236
Country                235
Lat                    236
Lng                    236
Max Temp               236
Humidity               236
Cloudiness             236
Wind Speed             236
Current Description    236
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
updated_df = cities_new_df.dropna(axis="index", how="any")
print(len(updated_df))
updated_df.head()

235

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Saint-Joseph,RE,-21.3667,55.6167,75.58,77,37,10.85,scattered clouds
4,Ribeira Grande,PT,38.5167,-28.7000,75.60,94,75,10.36,broken clouds
5,Mount Isa,AU,-20.7333,139.5000,78.57,36,40,0.00,light rain
14,Boueni,YT,-12.9025,45.0761,82.38,72,17,4.52,few clouds
15,Butaritari,KI,3.0707,172.7902,81.36,77,16,12.97,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = updated_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint-Joseph,RE,75.58,scattered clouds,-21.3667,55.6167,
4,Ribeira Grande,PT,75.60,broken clouds,38.5167,-28.7000,
5,Mount Isa,AU,78.57,light rain,-20.7333,139.5000,
14,Boueni,YT,82.38,few clouds,-12.9025,45.0761,
15,Butaritari,KI,81.36,light rain,3.0707,172.7902,
17,Grand Gaube,MU,75.60,clear sky,-20.0064,57.6608,
19,Padang,ID,78.85,light rain,-0.9492,100.3543,
21,Matadi,CD,88.14,overcast clouds,-5.8167,13.4500,
22,Bom Jesus,BR,87.62,scattered clouds,-9.0744,-44.3586,
24,Salinopolis,BR,83.21,overcast clouds,-0.6136,-47.3561,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Skipping, hotel not found")
#hotel_df.loc[index, "Hotel Name"] = np.nan
# Indicate that Data Loading is complete.
print("-----------------------------------------")
print("Data Retrieval Complete            ")
print("-----------------------------------------")

Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
Skipping, hotel not found
-----------------------------------------
Data Retrieval Complete
-----------------------------------------

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
149,Moroni,KM,82.40,light rain,-11.7022,43.2551,
151,Kirando,TZ,85.73,broken clouds,-7.4167,30.6000,
153,Monte Alegre,BR,82.80,scattered clouds,-2.0078,-54.0692,
156,Umm Lajj,SA,87.44,clear sky,25.0213,37.2685,
158,Acapulco,MX,76.82,broken clouds,16.8634,-99.8901,
159,Baisha,CN,76.73,broken clouds,26.5222,110.9311,
160,Urucara,BR,85.60,scattered clouds,-2.5364,-57.7600,
166,Shimoda,JP,77.11,overcast clouds,34.6667,138.9500,
167,Kralendijk,BQ,82.38,few clouds,12.1500,-68.2667,
172,Oktyabrskiy,RU,82.04,broken clouds,54.4815,53.4710,

In [ ]:
# 8a. Create the output File (CSV)
output_file_path = "/Users/ttuser/Downloads/Module6/WeatherPy_Database.csv"
city_weather_df.to_csv(output_file_path, index=False)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure

show.fig()